<div class="row g-5 justify-content-center">
  <div class="col-md-7 col-lg-8">
    <div class="row">
      <div class="col-md-8 text-start">
        <h4 class="mb-3">बैंक भौचर प्रविष्टि</h4>
      </div>
      <div class="col-md-4 text-end">
        <button type="button" class="btn btn-warning" (click)="showSuccess()">
          List of Vouchers
        </button>
      </div>
    </div>

    <form
      class="needs-validation"
      [formGroup]="voucherBankForm"
      (ngSubmit)="voucherBankFormSubmit()"
    >
    <input type="hidden" formControlName="llgcode">
    <input type="hidden" formControlName="revenuecode">
      <div class="row g-3">
        <div class="col-12">
          <label for="username" class="form-label req">जम्मा गरेको मिति</label>
          <div class="input-group has-validation">
            <input
              readonly
              formControlName="date"
              type="text"
              class="form-control form-control-sm"
              placeholder="{{ myDate | date : 'shortDate' }}"
              [ngClass]="v.getControlClass(voucherBankForm.controls['date'])">
              <div [ngClass]="v.getMessageClass(voucherBankForm.controls['date'])">{{v.getMessage(voucherBankForm.controls['date'])}}</div>
          </div>
        </div>

        <div class="col-12">
          <label for="address" class="form-label req">बैंक भौचर नंबर</label>
          <input
            formControlName="voucherno"
            type="text"
            class="form-control form-control-sm"
            [ngClass]="v.getControlClass(voucherBankForm.controls['voucherno'])">
            <div [ngClass]="v.getMessageClass(voucherBankForm.controls['voucherno'])">{{v.getMessage(voucherBankForm.controls['voucherno'])}}</div>
        </div>

        <div class="col-sm-6">
          <label for="firstName" class="form-label req">पालिका</label>
          <ng-select [(ngModel)]="selectedCar" formControlName="llgname"
          [ngClass]="v.getControlClass(voucherBankForm.controls['llgname'])">
            <ng-option *ngFor="let l of llgs" [value]="l.code">{{
              l.name
            }}</ng-option>
          </ng-select>
          <div [ngClass]="v.getMessageClass(voucherBankForm.controls['llgname'])">{{v.getMessage(voucherBankForm.controls['llgname'])}}</div>
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label req">संकलन केन्द्र</label>
          <ng-select [(ngModel)]="selectedCars" formControlName="costcentername"
          [ngClass]="v.getControlClass(voucherBankForm.controls['costcentername'])">
            <ng-option *ngFor="let cars of car" [value]="cars.id">{{
              cars.name
            }}</ng-option>
          </ng-select>
          <div [ngClass]="v.getMessageClass(voucherBankForm.controls['costcentername'])">{{v.getMessage(voucherBankForm.controls['costcentername'])}}</div>
        </div>

        <div class="col-12">
          <label for="username" class="form-label req">खाता नंबर</label>
          <select
            class="form-select form-select-sm"
            formControlName="accountno"
            [ngClass]="v.getControlClass(voucherBankForm.controls['accountno'])"
          >
            <option [selected] disabled>Select Account Number</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <div [ngClass]="v.getMessageClass(voucherBankForm.controls['accountno'])">{{v.getMessage(voucherBankForm.controls['accountno'])}}</div>
        </div>

        <div class="col-sm-6">
          <label for="firstName" class="form-label req">राजस्व शिर्षक</label>
          <ng-select [(ngModel)]="selectedCar" formControlName="revenuetitle"
          [ngClass]="v.getControlClass(voucherBankForm.controls['revenuetitle'])">
            <ng-option *ngFor="let car of cars" [value]="car.id">{{
              car.name
            }}</ng-option>
          </ng-select>
          <div [ngClass]="v.getMessageClass(voucherBankForm.controls['revenuetitle'])">{{v.getMessage(voucherBankForm.controls['revenuetitle'])}}</div>
        </div>

        <div class="col-6">
          <label for="username" class="form-label req">रकम</label>
          <div class="input-group has-validation">
            <input
              formControlName="amount"
              type="text"
              class="form-control form-control-sm"
              [ngClass]="v.getControlClass(voucherBankForm.controls['amount'])"
            />
            <div [ngClass]="v.getMessageClass(voucherBankForm.controls['amount'])">{{v.getMessage(voucherBankForm.controls['amount'])}}</div>
          </div>
        </div>

        <div class="col-sm-6">
          <label for="username" class="form-label">प्रयोजन</label>
          <div class="input-group has-validation">
            <input
              formControlName="purpose"
              type="text"
              class="form-control form-control-sm"
              [ngClass]="v.getControlClass(voucherBankForm.controls['purpose'])">
              <div [ngClass]="v.getMessageClass(voucherBankForm.controls['purpose'])">{{v.getMessage(voucherBankForm.controls['purpose'])}}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 text-start">
            <h5 class="mt-3 mb-0">करदाता:</h5>
          </div>
        </div>

        <div class="col-sm-6">
          <label for="username" class="form-label">पान नंबर</label>
          <div class="input-group has-validation">
            <input
              formControlName="taxpayerpan"
              type="text"
              class="form-control form-control-sm"
              [ngClass]="v.getControlClass(voucherBankForm.controls['taxpayerpan'])">
              <div [ngClass]="v.getMessageClass(voucherBankForm.controls['taxpayerpan'])">{{v.getMessage(voucherBankForm.controls['taxpayerpan'])}}</div>
          </div>
        </div>

        <div class="col-sm-6">
          <label for="username" class="form-label req">नाम</label>
          <div class="input-group has-validation">
            <input
              formControlName="taxpayername"
              type="text"
              class="form-control form-control-sm"
              [ngClass]="v.getControlClass(voucherBankForm.controls['taxpayername'])">
              <div [ngClass]="v.getMessageClass(voucherBankForm.controls['taxpayername'])">{{v.getMessage(voucherBankForm.controls['taxpayername'])}}</div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 text-start">
            <h5 class="mt-4 mb-0">जम्मा गर्नेको विवरण:</h5>
          </div>
        </div>

        <div class="col-sm-6">
          <label for="username" class="form-label req">नाम</label>
          <div class="input-group has-validation">
            <input
              formControlName="depositedby"
              type="text"
              class="form-control form-control-sm"
              [ngClass]="v.getControlClass(voucherBankForm.controls['depositedby'])">
              <div [ngClass]="v.getMessageClass(voucherBankForm.controls['depositedby'])">{{v.getMessage(voucherBankForm.controls['depositedby'])}}</div>
          </div>
        </div>

        <div class="col-sm-6">
          <label for="username" class="form-label req">सम्पर्क नंबर</label>
          <div class="input-group has-validation">
            <input
              formControlName="depcontact"
              type="text"
              class="form-control form-control-sm"
              [ngClass]="v.getControlClass(voucherBankForm.controls['depcontact'])">
              <div [ngClass]="v.getMessageClass(voucherBankForm.controls['depcontact'])">{{v.getMessage(voucherBankForm.controls['depcontact'])}}</div>
          </div>
        </div>
      </div>

      <br />
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success btn-sm" type="submit">Submit</button>
          &nbsp; &nbsp;
          <button
            class="btn btn-danger btn-sm"
            type="reset"
            (click)="resetForm()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
