<div class="row g-5 justify-content-center">
  <div class="col-md-7 col-lg-8">
    <div class="row">
      <div class="col-md-8 text-start">
        <h4 class="mb-3">सोझै बैंकमा कर जम्मा गर्दा</h4>
      </div>
      <div class="col-md-4 text-end">
        <button type="button" class="btn btn-warning" (click)="showSuccess()">
          List of Vouchers
        </button>
      </div>
    </div>

    <form class="needs-validation" [formGroup]= "voucherBankForm" (ngSubmit)= "voucherBankFormSubmit()">
      <div class="row g-3">
        <div class="col-12">
          <label for="username" class="form-label req">जम्मा गरेको मिति</label>
          <div class="input-group has-validation">
            <input readonly
            formControlName="date"
              type="text"
              class="form-control form-control-sm"
              placeholder ="{{myDate | date: 'shortDate' }}"/>
          </div>
        </div>

        <div class="col-12">
            <label for="address" class="form-label req">बैंक भौचर नंबर</label>
            <input formControlName="voucherno"
              type="text"
              class="form-control form-control-sm"
            />
          </div>

        <div class="col-sm-6">
          <label for="firstName" class="form-label req">पालिका</label>
          <ng-select [(ngModel)]="selectedCar"  formControlName="palika">
            <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
         </ng-select>
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label req">संकलन केन्द्र</label>
          <ng-select [(ngModel)]="selectedCars"  formControlName="kendra">
            <ng-option *ngFor="let cars of car" [value]="cars.id">{{cars.name}}</ng-option>
         </ng-select>
        </div>


        <div class="col-12">
          <label for="username" class="form-label req">खाता नंबर</label>
          <select class="form-select form-select-sm" formControlName="accountno">
            <option [selected] disabled>Select Account Number</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <div class="col-6">
            <label for="username" class="form-label req">रकम</label>
            <div class="input-group has-validation">
              <input formControlName="amount"
                type="text"
                class="form-control form-control-sm"
              />
            </div>
          </div>


          <div class="row">
            <div class="col-md-8 text-start">
              <h5 class="mt-3 mb-0">करदाताको</h5>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="username" class="form-label">पान नंबर</label>
            <div class="input-group has-validation">
              <input formControlName="panno"
                type="text"
                class="form-control form-control-sm"
              />
            </div>
          </div>

          <div class="col-sm-6">
            <label for="username" class="form-label req">नाम</label>
            <div class="input-group has-validation">
              <input formControlName="kardataname"
                type="text"
                class="form-control form-control-sm"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 text-start">
              <h5 class="mt-4 mb-0">जम्मा गर्नेको</h5>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="username" class="form-label req">नाम</label>
            <div class="input-group has-validation">
              <input formControlName="jariname"
                type="text"
                class="form-control form-control-sm"
              />
            </div>
          </div>

          <div class="col-sm-6">
            <label for="username" class="form-label req">सम्पर्क नंबर</label>
            <div class="input-group has-validation">
              <input formControlName="jarinumber"
                type="text"
                class="form-control form-control-sm"
              />
            </div>
          </div>

          <div class="col-sm-6">
            <label for="firstName" class="form-label req">राजस्व शिर्षक</label>
            <ng-select [(ngModel)]="selectedCar" formControlName="rajsahowsirsak">
              <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
           </ng-select>
          </div>


          <div class="col-sm-6">
            <label for="username" class="form-label">प्रयोजन</label>
            <div class="input-group has-validation">
              <input formControlName="usecase"
                type="text"
                class="form-control form-control-sm"
              />
            </div>
          </div>


      </div>

      
      <br />
      <div class="row">
        <div class="col-md-6 text-center">
            <button class="w-50 btn btn-danger btn-sm" type="submit">Clear</button>
        </div>

        <div class="col-md-6 text-center">
            <button class="w-50 btn btn-success btn-sm" type="submit">Submit</button>
        </div>
      </div>
     
    </form>
  </div>
</div>
