<!-- <div class="sidebarDisplay" style="width: 250px;height: calc(100vh); background-color:#1f497d;"
id="sidebar">

<ul class="list-unstyled p-2" *ngIf="navcontent">
    <ng-container *ngFor="let i of navcontent">
    <li class="mb-1">
        <button (click)="activeButton($event)"
            class="colorCheck btn btn-toggle d-inline-flex rounded border-0 collapsed text-white show text-start" routerLink="{{i.link}}">
            <i class="{{i.icon}} ico colorCheck"></i>
        <span class="colorCheck textHide">
            &nbsp; {{i.name}}
        </span>

        </button>
        <div class="collapse" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small" style="display: block;">
                <li><a href="#"
                        class="link-dark d-inline-flex text-decoration-none rounded buttonExpand">Overview</a>
                </li>
                <li><a href="#"
                        class="link-dark d-inline-flex text-decoration-none rounded buttonExpand">Updates</a>
                </li>
                <li><a href="#"
                        class="link-dark d-inline-flex text-decoration-none rounded buttonExpand">Reports</a>
                </li>
            </ul>
        </div>
    </li>
</ng-container>
    <li class="border-top my-3"></li>
    <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed text-white text-start" (click)="logout()">
            <i class="bi bi-globe-americas"></i> 
            <span class="textHide">&nbsp; Logout</span>
            
        </button>
    </li> 
</ul>
</div> -->


<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <app-sidebaritem [menuItems]="navcontent"></app-sidebaritem>
        <li class="nav-item ng-star-inserted"><!----><a class="nav-link collapsed ng-star-inserted" target="_blank" href="{{baseurl}}images/srms_manual.pdf"><i class="bi bi-file-earmark-pdf"></i><span class="stopClick">User Manual</span></a><!----></li>
    </ul>
</aside>