.btn-toggle:hover, .btn-toggle:focus {
    background-color: unset;
  }

  .btn-toggle-nav a:hover, .btn-toggle-nav a:focus {
    background-color: unset;
  }

  .buttonColor{
    color: #ffc77b !important;
  }

  .colorCheck:hover{
    color: #ffc77b !important;
  }