<!-- Login Form -->
<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card shadow">
          <div class="card-title text-center border-bottom">
            <img
              class="d-block mx-auto mt-2"
              src="assets/Emblem_of_Nepal.svg"
              alt=""
              height="70"
            />
            <h6 class="mb-1" style="font-size: 14px; color: #012970">
              <b>महालेखा नियन्त्रक कार्यालय</b>
            </h6>
            <h6 class="mb-1" style="font-size: 16px; color: #012970">
              <b>स्थानीय तह संचितकोष व्यवस्थापन प्रणाली (<span style="color: red;"><b>S</b></span>u<span style="color: red;"><b>TRA</b></span>)</b>
            </h6>
            <h6 class="mb-2" style="font-size: 18px; color: #012970">
              <b>Revenue Module: Bank Interface </b>
            </h6>
          </div>
          <div class="card-body mt-3">
            <form
              class="row g-3 needs-validation"
              [formGroup]="loginForm"
              (ngSubmit)="changePassword()"
              novalidate
            >
              <div class="mb-4">
                <label class="form-label">Current Password</label>
                <input type="password" class="form-control" formControlName="oldpassword"
                  [ngClass]="vs.getControlClass(loginForm.controls['oldpassword'])"
                />
                <div
                  [ngClass]="vs.getMessageClass(loginForm.controls['oldpassword'])"
                >
                  {{ vs.getMessage(loginForm.controls["oldpassword"]) }}
                </div>
              </div>
              <div class="mb-4">
                <label class="form-label">New Password</label>
                <input type="password" class="form-control" formControlName="password"
                  [ngClass]="vs.getControlClass(loginForm.controls['password'])"
                />
                <div
                  [ngClass]="vs.getMessageClass(loginForm.controls['password'])"
                >
                  {{ vs.getMessage(loginForm.controls["password"]) }}
                </div>
              </div>
              <div class="mb-4">
                <label class="form-label">Re-enter Password</label>
                <input type="password" class="form-control" formControlName="rpassword"
                  [ngClass]="vs.getControlClass(loginForm.controls['rpassword'])"
                />
                <div
                  [ngClass]="vs.getMessageClass(loginForm.controls['rpassword'])"
                >
                  {{ vs.getMessage(loginForm.controls["rpassword"]) }}
                </div>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn text-light main-bg">
                  Change Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  