<div class="container text-center">
<table class="mx-auto">
    <tr>
      <th><img class="d-block mx-auto " src="../../assets/Emblem_of_Nepal.svg" alt="Emblem of Nepal" height="70">
      </th>
      <th>  <!--<h6 class="mb-1" style="font-size: 13px; color: #e31920"><b>नेपाल सरकार</b></h6>
        <h6 class="mb-1" style="font-size: 15px; color: #e31920"><b>अर्थ मन्त्रालय</b></h6>-->
        <h6 class="mb-2" style="font-size: 18px; color: #e31920"><b>महालेखा नियन्त्रक कार्यालय</b></h6>
        <h4 class=" mb-1" style="font-size: 20px; color: #0563bb">SuTRA Revenue Management System</h4>
        <h4 class=" mb-2" style="font-size: 18px; color: #0563bb">(Bank Module)</h4>
        <h6 style="color: green">{{bank}} [{{branch}}]</h6></th>
    </tr>
  </table>
</div>