<div class="row g-5 justify-content-center">
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-header">
          <p>File Upload</p>
        </div>
  
        <div class="card-body mt-3">
          <form class="needs-validation" [formGroup]="UserImportForm"
          (ngSubmit)="UserImportFormSubmit()">
            <div class="row mb-2">

                    <div class="col-md-2">
                        <label>Select File</label>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="mb-3">
                            <input class="form-control form-control-sm" id="formFileSm" type="file" formControlName="userImport">
                          </div>
                    </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="submit" class="btn btn-success btn-sm" value="Submit">
                &nbsp; &nbsp;
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>