<div class="row g-5 justify-content-center">
  <div class="col-12">

    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8 text-start">
            Search Voucher
          </div>
          <div class="col-md-4 text-end listdiv">
            <button type="button" class="btn btn-primary btn-sm" (click)="changeFields()">
              <i class="bi bi-list"></i> List of Vouchers
            </button>
          </div>

          <div class="col-md-4 text-end formdiv hide">
            <button type="button" class="btn btn-primary btn-sm" (click)="changeFields()">
              <i class="bi bi-reply"></i> Back to Form
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">


        <form class="form-srch" [formGroup]="srchForm" *ngIf="showForm">
          <div class="input-group mb-3 has-validation">
            <input type="text" class="form-control" [ngClass]="vs.getControlClass(srchForm.controls['srch_term'])"
              placeholder="कारोबार संकेत नंबर" id="srch_term" name="srch_term" formControlName="srch_term"
              (keyup.enter)="search()" />
            <button class="btn btn-outline-secondary" type="button" (click)="search()">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
        <form class="needs-validation" [formGroup]="bankForm" (ngSubmit)="bankFormSubmit()"
          *ngIf="transDetails && showForm">


          <div class="modal-body" *ngIf="transDetails">
            <div class="row">
              <div class="col-md-6">
                जम्मा गरेको मिति :  {{transDetails.date}}
              </div>
              <div class="col-md-6">
                बैंक भौचर नंबर: {{transDetails.voucherno}}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                पालिका: {{transDetails.llsname}}
              </div>
              <div class="col-6">
                संकलन केन्द्र: {{transDetails.collectioncentername}}
              </div>
            </div>            
            खाता नंबर: {{transDetails.accountno}}
            <br>
            प्रयोजन: {{transDetails.purpose}}
            <br>
            <table class="table table-striped table-bordered" style="word-wrap: anywhere;"> 
              <thead>
                <tr>
                  <th scope="col"> राजस्व शिर्षक</th>
                  <th scope="col">रकम(रु.)</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let r of transDetails.revs; let i = index">
                  <td>{{r.namenp}}[{{r.revenueid}}]</td>
                  <td>{{r.amount}}</td>
                </tr>
                <tr><th>जम्मा रकम</th><th>{{transDetails.amount}}</th></tr>
              </tbody>
            </table>
            <div class="row"> 
              <div class="col-6">
                करदाताको पान नंबर: {{transDetails.taxpayerpan}}
              </div>
              <div class="col-6">
                करदाताको नाम: {{transDetails.taxpayername}}
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                जम्मा गर्नेको नाम:{{transDetails.depositedby}}
              </div>
              <div class="col-6">
                जम्मा गर्नेको सम्पर्क नंबर: {{transDetails.depcontact}}
              </div>
            </div>
            </div>
          <div class="row g-3">
            <input type="hidden" formControlName="id" />
            
            <div class="col-sm-6">
              <label for="firstName" class="form-label req">पालिका</label>
              <ng-select formControlName="lgid" (change)="getBankAccounts()">
                <ng-option *ngFor="let l of llgs" [value]="l.code">{{
                  l.name
                }}</ng-option>
              </ng-select>
              <div [ngClass]="vs.getMessageClass(bankForm.controls['lgid'])">{{vs.getMessage(bankForm.controls['lgid'])}}</div>
            </div>
    
            <div class="col-sm-6">
              <label for="lastName" class="form-label req">संकलन केन्द्र</label>
              <ng-select formControlName="collectioncenterid" >
                <ng-option *ngFor="let cc of ccs" [value]="cc.code">{{
                  cc.name
                }}</ng-option>
              </ng-select>
              <div [ngClass]="vs.getMessageClass(bankForm.controls['collectioncenterid'])">{{vs.getMessage(bankForm.controls['collectioncenterid'])}}</div>
            </div>
    
    
            <div class="col-6">
              <label for="username" class="form-label req">खाता नंबर</label>
              <select
                class="form-select form-select-sm" (change)="getRevenue()"
                formControlName="accountno"
                [ngClass]="vs.getControlClass(bankForm.controls['accountno'])"
              >
                <option value="">Select Account Number</option>
                <option *ngFor="let ac of acs" value="{{ac.id}}">{{ac.acno}}[{{ac.name}}]</option>
              </select>
              <div [ngClass]="vs.getMessageClass(bankForm.controls['accountno'])">{{vs.getMessage(bankForm.controls['accountno'])}}</div>
            </div>
            <div class="col-6">
              <label class="form-label">Remarks</label>
              <div class="input-group has-validation">
                <input formControlName="remarks" type="text" class="form-control form-control-sm"
                  [ngClass]="vs.getControlClass(bankForm.controls['remarks'])" />
                <div [ngClass]="vs.getMessageClass(bankForm.controls['remarks'])">
                  {{ vs.getMessage(bankForm.controls["remarks"]) }}
                </div>
              </div>
            </div>
          
         

          </div>

          <br />
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-success btn-sm" type="submit">Submit</button>
              &nbsp; &nbsp;
              <button class="btn btn-danger btn-sm" type="button" (click)="resetForm()">
                Clear
              </button>
            </div>
          </div>
        </form>

        <div class="tab" *ngIf="showList">
          <form class="form-srch" [formGroup]="srchFormList">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search.." id="srch_term" name="srch_term"
                formControlName="srch_term" (keyup.enter)="searchList()" />
              <button class="btn btn-outline-secondary" type="button" (click)="searchList()">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
          <table class="display responsive-table w-100 table table-striped datatable" style="word-wrap: anywhere;">
            <!--table-borderless-->
            <thead>
              <tr>
                <th scope="col">Voucher Number</th>
                <th scope="col">Account Number</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of lists; let i = index">
                <td>{{ item.voucherno }}</td>
                <td>{{ item.accountno }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.amount }}</td>
                <td><button class="btn btn-success btn-sm" (click)="openModal(template, item.id)"> <i class="bi bi-eye"></i> </button></td>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-6 text-start">
              <pagination [rotate]="true" [maxSize]="5" [totalItems]="pagination.total"
                [(ngModel)]="pagination.currentPage" [boundaryLinks]="true" [itemsPerPage]="pagination.perPage"
                (pageChanged)="paginatedData($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                lastText="&raquo;"></pagination>
            </div>

            <div class="col-6 text-end">
              <form [formGroup]="srchForm">
                <div class="row" style="float: right">
                  <div class="col-md-12 smallbr">
                    Entries
                    <select name="entries" id="entries" formControlName="entries" (change)="search()">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Voucher Details</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="details">
    <div class="alert alert-success" role="alert" *ngIf="details.status?.palikaresponse==2">
      {{details.status?.responsereason || "Update Change Granted"}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="details.status?.palikaresponse==3">
      {{details.status?.responsereason}}
    </div>
    <div class="row">
      <div class="col-6">
        जम्मा गरेको मिति : {{details.date}}
      </div>
      <div class="col-6">
        बैंक भौचर नंबर: {{details.voucherno}}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        रकम: {{details.amount}}
      </div>
      <div class="col-md-6">
        <!-- पालिका: {{details.llsname}} -->
      </div>
      <div class="col-md-6">
        <!-- संकलन केन्द्र: {{details.collectioncentername}} -->
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <!-- खाता नंबर: {{details.accountno}} -->
      </div>
      <!-- <div class="col-6">
        रकम: {{details.amount}}
      </div> -->
    </div>

    <!-- <br>
    राजस्व शिर्षक: {{details.revenuetitle}}
    <br> -->
    प्रयोजन: {{details.purpose}}
    <br>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col"> राजस्व शिर्षक</th>
          <th scope="col">रकम(रु.)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of details.revs; let i = index">
          <td>{{r.namenp}}[{{r.revenueid}}]</td>
          <td>{{r.amount}}</td>
        </tr>
        <tr>
          <th>जम्मा रकम</th>
          <th>{{details.amount}}</th>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-6">
        करदाताको पान नंबर: {{details.taxpayerpan}}
      </div>
      <div class="col-md-6">
        करदाताको नाम: {{details.taxpayername}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        जम्मा गर्नेको नाम:{{details.depositedby}}
      </div>
      <div class="col-md-6">
        जम्मा गर्नेको सम्पर्क नंबर: {{details.depcontact}}
      </div>
    </div>

    <!-- <div *ngIf=hideApproveButton> -->
      <div>
      <hr>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col" colspan="2">संसोधन गर्नु पर्ने</th>
          </tr>
          <tr>
            <th scope="col">साविक</th>
            <th scope="col">संसोधन पछि</th>
          </tr>
        </thead>
        <tbody *ngFor="let r of details.revs; let i = index">
          <tr>
            <td>पालिका: {{details.llsname}}</td>
            <td>पालिका: </td>
          </tr>
          <tr>
            <td>संकलन केन्द्र: {{details.collectioncentername}}</td>
            <td>संकलन केन्द्र: </td>
          </tr>
          <tr>
            <td>खाता नो. : {{details.accountno}}</td>
            <td>खाता नो. : </td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="d-flex justify-content-center">
          <button class="btn btn-success btn-sm" *ngIf="details.status?.palikaresponse==2" type="button" (click)="updateChanges(details.id)">Settle Updates</button>
          <button class="btn btn-success btn-sm" *ngIf="details.status?.palikaresponse==3" type="button" (click)="updateChanges(details.id)">Terminate Updates</button>
        </div>
      </div>
    </div>

  </div>
</ng-template>