<div class="row g-5 justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        All Users
      </div>
      <div class="card-body mt-3">
        <div class="tab">
          <form class="form-srch" [formGroup]="srchForm">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search Username..." id="srch_term" name="srch_term"
                formControlName="srch_term" (keyup.enter)="search()" />
              <button class="btn btn-outline-secondary" type="button" (click)="search()">
                <i class="bi bi-search"></i>
              </button>
            </div>
            <div class="row">
            <div class="col-6">
              <label class="form-label ">Bank</label>
              <div class="input-group has-validation">
  
                <ng-select formControlName="bankid"  (change)="getBranches()" class="w-100">
                  <ng-option value="0"> Select </ng-option>
                  <ng-option *ngFor="let op of banks" [value]="op.id">
                    {{ op.nameen }} [ {{op.namenp}} ]</ng-option>
                </ng-select>
  
               
              </div>
            </div>

            <div class="col-6">
              <label class="form-label ">Branch</label>
              <div class="input-group has-validation">
  
                <ng-select formControlName="branchid" #brid (change)="getusersFrombranch()" class="w-100">
                  <ng-option value="0"> Select </ng-option>
                  <ng-option *ngFor="let op of branch" [value]="op.id">
                    {{  op.name }}</ng-option>
                </ng-select>
  
               
              </div>
            </div>

          </div>
          </form>
         
          <table class="display responsive-table w-100 table table-striped datatable">
            <thead>
              <tr>
                <th scope="col">{{"Name" | translate}}</th>
                <th scope="col">{{"Post" | translate}}</th>
                <th scope="col">{{"Username" | translate}}</th>
                <th scope="col">{{"Branch" | translate}}</th>
                <th scope="col">{{"Action" | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of lists; let i = index">
                <td>{{ item.name }}</td>
                <td>{{ item.post }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.bname }}</td>
                <td style="width: 160px;">
                  <button class="btn btn-sm btn-success" (click)="loginUser(item.username)" href="javascript:void(0)"><i
                      class="bi bi-unlock"></i></button>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-6 text-start">
              <pagination [rotate]="true" [maxSize]="5" [totalItems]="pagination.total"
                [(ngModel)]="pagination.currentPage" [boundaryLinks]="true" [itemsPerPage]="pagination.perPage"
                (pageChanged)="paginatedData($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                lastText="&raquo;"></pagination>
            </div>

            <div class="col-6 text-end">
              <form [formGroup]="srchForm">
                <div class="row" style="float: right">
                  <div class="col-md-12 smallbr">
                    Entries
                    <select name="entries" id="entries" formControlName="entries" (change)="search()">
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>