  <div class="container mt-2">
    <div class="row">
      <div class="col-md-4">
        Nepal Sarkar Logo
      </div>
      <div class="col-md-6 text-center">
        <b>
          <p>
          धुलिखेल नगरपालिका
          <br>
          नगर कार्यपालिकाको कार्यालय, कभ्रेपलान्चोव्क
          <br>
          कार्यालय कोड : ८०३२६४०१३००

          <br>
          <br>

          राजस्व दाखिला फारम
          <br></p>

        Deposite Slip</b>

    </div>
    <div class="col-md-2">
      <p>QR Code Goes Here</p>
    </div>
  </div>
</div>

<hr class="border-top border-5 text-danger" style="border-color: red !important;">

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table class="table tt">
        <thead>
          <tr>
            <th scope="col"><b>भौचर विवरण</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">आर्थिक वर्ष</td>
            <td>data</td>
          </tr>
          <tr>
            <td scope="row">करोबार सङ्केत</td>
            <td>data</td>
          </tr>
          <tr>
            <td scope="row">भौचर मिति</td>
            <td colspan="2">Dat</td>
          </tr>

          <tr>
            <td scope="row">कार्यालय</td>
            <td colspan="2">Dat</td>
          </tr>
        </tbody>
      </table>
    </div>

      <div class="col-md-6">
         <table class="table tt">
        <thead>
          <tr>
            <th scope="col"><b>राजस्व जम्मा गर्नेको विवरण</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">भुक्तानी कर्ता संकेत</td>
            <td>data</td>
          </tr>
          <tr>
            <td scope="row">Karobar Sanket</td>
            <td>data</td>
          </tr>
          <tr>
            <td scope="row">नाम</td>
            <td colspan="2">Dat</td>
          </tr>

          <tr>
            <td scope="row">फोन नो.</td>
            <td colspan="2">Dat</td>
          </tr>
        </tbody>
      </table>
      </div>

  </div>

  <div class="row">
    <table class="table  table-striped">
  <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">रजशोव सिर्सक</th>
      <th scope="col">विरारण</th>
      <th scope="col">रकम</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Data</td>
      <td>Data</td>
      <td>Data</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Data</td>
      <td>Data</td>
      <td>Data</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td colspan="2">Larry the Bird</td>
      <td>Data</td>
    </tr>
    <tr>
      <td scope="row">1</td>
      <td colspan="2">Larry the Bird</td>
      <td></td>
    </tr>
  </tbody>
</table>