<!-- <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="javascript:void(0)" class="logo d-flex align-items-center">
            <img src="../../assets/Emblem_of_Nepal.svg" alt="">
            <span class="d-none d-lg-block" style="font-size: 12px;">
                महालेखा नियन्त्रक कार्यालय <br> स्थानीय तह संचितकोष व्यवस्थापन प्रणाली (SuTRA)
                <br>
                Revenue Model: Bank InterFace
            </span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn" (click)="toggleSidebar()"></i>
    </div>

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3" dropdown>
                <a class="nav-link nav-icon nav-profile d-flex align-items-center pe-0" href="javascript:void(0)"
                    dropdownToggle>
                    <i class="bi bi-person-circle"></i>
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{name}}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" *dropdownMenu>
                    <li class="dropdown-header">
                        <h6>{{username}}</h6>
                        <span>{{bank}} [{{branch}}]</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" routerLink="user-profile">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)" (click)="logout()">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header> -->


<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="javascript:void(0)" class="logo d-flex align-items-center">
            <img src="../../assets/Emblem_of_Nepal.svg" alt="">
            <span class="d-none d-lg-block">
               SRMS
            </span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn" (click)="toggleSidebar()"></i>

    </div>
    <div class="d-flex align-items-center justify-content-center w-100">
        <a href="javascript:void(0)" class="logo d-flex align-items-center" style="text-align: center;">
            <!-- <img src="../../assets/Emblem_of_Nepal.svg" alt=""> -->
            <span class="d-none d-lg-block" style="font-size: 12.9px;">
                महालेखा नियन्त्रक कार्यालय <br> स्थानीय तह संचितकोष व्यवस्थापन प्रणाली (SuTRA)
                <br>
                Revenue Module: Bank Interface
            </span>
        </a>

    </div>

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3" dropdown>
                <a class="nav-link nav-icon nav-profile d-flex align-items-center pe-0" href="javascript:void(0)"
                    dropdownToggle>
                    <i class="bi bi-person-circle"></i>
                    <span class="d-none d-md-block dropdown-toggle ps-2">{{name}}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile" *dropdownMenu>
                    <li class="dropdown-header">
                        <h6>{{username}}</h6>
                        <span>{{bank}} [{{branch}}]</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" routerLink="user-profile">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="javascript:void(0)" (click)="logout()">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>