<app-navbar></app-navbar>

<div class="container">
    <main>
        
    <app-header></app-header>
  
    <router-outlet></router-outlet> 

    </main>
  
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2023 Saipal Technologies</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="javascript:void(0)">Privacy</a></li>
        <li class="list-inline-item"><a href="javascript:void(0)">Terms</a></li>
        <li class="list-inline-item"><a href="javascript:void(0)">Support</a></li>
      </ul>
    </footer>
  </div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>