/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "./assets/nice-style.scss";

body{
    background-color: #f8f9fa;
}

@media (max-width: 1405px) {
  #men{
    left: -500px;
  }
}

@media (max-width: 1405px) {
  #lis {
    left: -500px !important;
  }
}

@media (min-width: 1406px) {
  #lisst {
   display: none !important;
  }
}



@import "~@ng-select/ng-select/themes/default.theme.css";

.req::after{
    content: " *";
    color: red;
}

.show{
    transition: .3s display ease-in-out;
    display: inline;
}

.hide{
    display: none;
}

table th,
table td{
  text-align: left;
}
table.layout{
  width: 100%;
  border-collapse: collapse;
}
table.display{
  margin: 1em 0;
}
table.display th,
table.display td{
  border: 1px solid #B3BFAA;
  padding: .5em 1em;
}

table.display th{ background: #D5E0CC; }
table.display td{ background: #fff; }

// table.responsive-table{
//   box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
// }

table.responsive-table {
  box-shadow: none !important;
}





#sidebar-wrapper {
  min-height: 100vh;
  margin-right: 0;
  width: 200px;
  position: fixed;
  left: 0;
  top: 50px;
}

#right-sidebar-wrapper {
  min-height: 100vh;
  margin-left: 200px;
  width: 200px;
  position: fixed;
  right: 0;
  top: 50px;
}

#page-content-wrapper {
  width: calc(100% - 400px);
  margin-left: 200px;
  margin-top: 50px;
}

.sidebarHide{
  width: 0 !important;
  // width: 60px !important;
  transition: width .5s ease-in-out;

}

.sidebarDisplay{
  width: 300 !important;
  transition: width .5s ease-in-out;

}

#menu-toggle {
  margin-right: 1rem;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  display: none;
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}
.nav-pills {
--bs-nav-pills-link-active-bg: white !important;
}

.buttonExpand{
width: 80%;
}




.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  // background-color: rgb(0,0,0);
  // background-color: rgba(113, 106, 106, 0.9);
  background-color: transparent;
  overflow-x: hidden;
  //transition: 0.4s ease-in-out;
  //opacity: .5;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

.showOverlay{
  width: 100% !important;
}




.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}




.sidebar-nav .nav-link {
  padding: 5px 15px !important;
}