/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    background-color: #f8f9fa;
}

@import "~@ng-select/ng-select/themes/default.theme.css";

.req::after{
    content: " *";
    color: red;
}

.show{
    display: inline;
}

.hide{
    display: none;
}

table th,
table td{
  text-align: left;
}
table.layout{
  width: 100%;
  border-collapse: collapse;
}
table.display{
  margin: 1em 0;
}
table.display th,
table.display td{
  border: 1px solid #B3BFAA;
  padding: .5em 1em;
}

table.display th{ background: #D5E0CC; }
table.display td{ background: #fff; }

// table.responsive-table{
//   box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
// }

table.responsive-table {
  box-shadow: none !important;
}
