
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">

  <nav id="navbar" class="navbar nav-menu">
    <ul>
      <li><a href="javascript:void(0)" class="nav-link scrollto active"><i class="bi bi-person-circle"></i> <span>SuperAdmin</span></a></li>
      <li><a href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-bank"></i> <span>Bank</span></a></li>
      <li><a href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-diagram-3"></i> <span>Branch</span></a></li>
      <li><a href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-file-earmark-person-fill"></i> <span>User</span></a></li>
      <li><a href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-stickies"></i> <span>Voucher Entry</span></a></li>
      <li><a href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-file-earmark-medical"></i> <span>Verify Voucher</span></a></li>
      <li><a href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-box-arrow-in-left"></i> <span>Logout</span></a></li>

      
    </ul>
  </nav><!-- .nav-menu -->

</header><!-- End Header -->



