
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">

  <nav id="navbar" class="navbar nav-menu">
    <ul>
      <li><a (click)="buttonactive($event)" href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-person-circle ico"></i> <span>SuperAdmin</span></a></li>
      <li><a routerLink="bank" (click)="buttonactive($event)" href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-bank ico"></i> <span>Bank</span></a></li>
      <li><a routerLink="branch" (click)="buttonactive($event)" href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-diagram-3 ico"></i> <span>Branch</span></a></li>
      <li><a routerLink="users" (click)="buttonactive($event)" href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-file-earmark-person-fill ico"></i> <span>User</span></a></li>
      <li><a routerLink="voucher-bank" (click)="buttonactive($event)" href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-stickies ico"></i> <span>Voucher Entry (Bank)</span></a></li>
      <li><a (click)="buttonactive($event)" href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-stickies ico"></i> <span>Voucher Entry (Palik)</span></a></li>
      <li><a (click)="buttonactive($event)" href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-file-earmark-medical ico"></i> <span>Verify Voucher</span></a></li>
      <li><a (click)="logout()" href="javascript:void(0)" class="nav-link scrollto"><i class="bi bi-box-arrow-in-left ico"></i> <span>Logout</span></a></li>

      
    </ul>
  </nav><!-- .nav-menu -->

</header><!-- End Header -->



