.space{
    margin-left: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {

    background-color: #0563bb !important;
  }

  .ico{
    pointer-events: none !important;
}

.hidebar{
  width: 0px !important;
  transition: width .9s ease-in-out;
  left: -150px;

}

.showbar{
  width: 230px !important;
  transition: width .9s ease-in-out;
  left: 0;
}
