<div class="d-flex flex-column flex-shrink-0 p-3 sidebar showbar" style="width: 230px; position: fixed; height: 100%; top:0;background-color:#43596f">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="../../assets/Emblem_of_Nepal.svg" alt="Emblem of Nepal" class="d-block mx-auto" height="40">
    <span class="fs-4 space">SRMS

      <br>

      <h4 class="mb-2" style="font-size: 15px;">(Bank Module)</h4>
  </span>
  </a>
  <span class="text-center text-info" style="font-size:small; overflow-x:hidden;"><i class="bi bi-person ico text-warning"></i>&nbsp;{{name}}</span>
  <hr>
  <ul class="nav nav-pills flex-column">
   
    <ng-container *ngIf="navcontent">
      <li *ngFor="let i of navcontent">
        <a href="javascript:void(0)" class="nav-link text-white" routerLink="{{i.link}}"  (click)="buttonactive($event)">
            <i class="{{i.icon}} ico"></i>
            {{i.name}}
        </a>
      </li>
    </ng-container>
    
    <li>
      <a href="javascript:void(0)" class="nav-link text-white" (click)="logout()" (click)="buttonactive($event)">
          <i class="bi bi-box-arrow-in-left ico"></i>
          Logout
      </a>
    </li>
  </ul>
  <hr>
</div>

<a href="javascript:void(0)" (click)="closeSideBar()">
<i class="bi bi-justify buttooon" style="position: absolute; left: 250px; font-size: x-large; cursor: pointer;"></i>

</a>